{% extends "NolarkBundle:Layouts:layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ type|capitalize }}
{% endblock title %}

{% block body %}
    <section id="casques">
    </section>
{% endblock body %}


